<div class="row">
  <div class="col-xs-12">
    <%= form_for @list, format: :js, remote: true do |f| %>
      <div class="form-group col-sm-6">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter List Name" %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label 'Share My List (Not Required)' %>
        <%= f.text_field :shared_with, class: 'form-control', placeholder: "Enter Emails Separated by Commas" %>
      </div>

      <div class="text-center"><%= f.submit "Let's Go!", class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>
