<div class="container">
  <div class="row" style="height: 70px"></div>
</div>

<div class="col-xs-10 col-xs-push-1 container">
  <div class="md-well">
    <h1 class="text-center"><%= @list.name %></h1>
    <% if @items.count == 0 %>
      <h4 class="text-center">You don't have any items on this list yet! Want to add some?<h4>
    <% elsif @items.count == 1 %>
      <h4 class="text-center">Only <%= @items.count %> Item To Go!</h4>
    <% else %>
      <h4 class="text-center">You Have <%= @items.count %> Items To Go!</h4>
    <% end %>

    <div class='item-form'>
      <%= render partial: 'items/form', locals: { list: @list, item: @item } %>
    </div>

    <div class="js_items">
      <%= render @items %>
    </div>

    <div class="text-center">
      <% if @list.shared_with != "" && @list.user_id == current_user.id %>
        <h2 class="text-center"><small>Shared with <%= @list.shared_with %></small></h2>
      <% elsif @list.shared_with != "" && @list.user_id != current_user.id %>
        <h2 class="text-center"><small>Shared by <%= @list.user_id %></small></h2>
      <% end %>

      <%= link_to "Back to My Lists", lists_path %>
    </div> <!-- text-center -->

  </div> <!-- well -->
</div> <!-- container -->
