<div class="container">
  <div class="row" style="height: 70px"></div>
</div>

<div class="col-xs-10 col-xs-push-1 container">
  <div class="md-well">
    <h1 class="text-center"><%= @list.name %></h1>
    <% if @items.count == 0 %>
      <h4 class="text-center">You don't have any items on this list yet! Want to add some?<h4>
    <% elsif @items.count == 1 %>
      <h4 class="text-center">Only <%= @items.count %> Item To Go!</h4>
    <% else %>
      <h4 class="text-center">You Have <%= @items.count %> Items To Go!</h4>
    <% end %>

    <%= render 'items/form' %>

    <% @items.each do |item|%>
      <p>
        <%= item.name %>
        ( <%= link_to "Delete", list_item_path(@list, item), method: :delete %> )
      </p>
    <% end %>

    <div class="text-center">
      <%= link_to "Back to My Lists", lists_path %>
    </div> <!-- text-center -->

  </div> <!-- well -->
</div> <!-- container -->
