<div class="container">
  <div class="row" style="height: 70px"></div>
</div>

<div class="container">
  <div class="row">
    <h1 class="text-center">
      <% if @user.first_name == nil || @user.first_name == "" %>
        My Profile
      <% else %>
        <%= @user.first_name %>'s Profile
      <% end %>
    </h1>
    <h4 class="text-center"><%= link_to('- Click Here to Logout -', destroy_user_session_path, :method => :delete) %></h4>
  </div> <!-- row -->

  <div class="container">
    <div class="md-well">
      <h2>My Usage Stats</h2>
      <h4 style="line-height: 1.4"><ul>
        <% if @lists.count != 1 %>
          <li><%= @lists.count %> Personal Lists</li>
        <% else %>
          <li><%= @lists.count %> Personal List</li>
        <% end %>

        <% if @shared_lists.count != 1 %>
          <li><%= @shared_lists.count %> Lists Shared with Me</li>
        <% else %>
          <li><%= @shared_lists.count %> List Shared with Me</li>
        <% end %>

        <% if @items_delegated_by.count != 1 %>
          <li><%= @items_delegated_by.count %> Tasks Delegated to Someone Else</li>
        <% else %>
          <li><%= @items_delegated_by.count %> Task Delegated to Someone Else</li>
        <% end %>

        <% if @items_delegated_to.count != 1 %>
          <li><%= @items_delegated_to.count %> Tasks Delegated to Me</li>
        <% else %>
          <li><%= @items_delegated_to.count %> Task Delegated to Me</li>
        <% end %>

        <li>0 Expired Tasks</li>
      </ul></h4>
    </div> <!-- well -->
  </div> <!-- container -->


<div class="container">
  <div class="md-well">
    <h2>My Information</h2>
      <p class="indent"><strong>Name: </strong><%= @user.first_name %> <%= @user.last_name %></p>
      <p class="indent"><strong>Email: </strong><%= @user.email %></p>
      <p class="indent"><%= link_to "Edit My Information", edit_user_registration_path %></p>
  </div> <!-- well -->
</div> <!-- container -->

<div class="container text-center">
  <%= link_to('Logout', destroy_user_session_path, class: "btn btn-primary", :method => :delete) %>
</div> <!-- container -->

</div> <!-- container -->
