<div class="jumbotron">
  <div class="container-fluid">
    <div class="row" style="margin-top: 20px">
      <div class="col-xs-3 col-sm-2 col-lg-2 col-xs-push-1 vcenter">
        <%= image_tag 'checkmark.png', class: "img-responsive", alt: "checkmark" %>
      </div> <!-- image div -->
      <div class="col-xs-8 col-xs-push-1 col-sm-8 col-sm-push-2 col-lg-9 vcenter">
        <h1>Blocitoff</h1>
        <h3>Either get it done or get it off the list!</h3>
      </div> <!-- jumbotron text -->
    </div> <!-- row -->
  </div> <!-- fluid container -->
</div> <!-- jumbotron -->

<script>
$( document ).ready(function() {
    var heights = $(".row-1").map(function() {
        return $(this).height();
    }).get(),
    maxHeight = Math.max.apply(null, heights);
    $(".row-1").height(maxHeight);
    window.onresize = function(){ location.reload(); }
});

$( document ).ready(function() {
    var heights = $(".row-2").map(function() {
        return $(this).height();
    }).get(),
    maxHeight = Math.max.apply(null, heights);
    $(".row-2").height(maxHeight);
    window.onresize = function(){ location.reload(); }
});
</script>

<div class="container">

<% if user_signed_in? %>

  <div class="col-sm-6 container">
    <div class="md-well md-well-small well-link row-1">
      <h4 class="text-center">Newest Tasks</h4>
        <% @top_items.each do |item| %>
          <% if item.user_id == current_user.id %>
          <p>☐ <%= item.name %></p>
          <% end %>
        <% end %>
        <p class="text-center">
          <% if @my_items.count >= 5 %>
            <%= link_to lists_path do %>See <%= @my_items.count - 4 %> More...<% end %>
          <% end %>
        </p>
    </div> <!-- well -->
  </div> <!-- container -->

  <div class="col-sm-6 container">
    <div class="md-well md-well-small well-link row-1">
      <h4 class="text-center">About to Expire</h4>
    </div> <!-- well -->
  </div> <!-- container -->

  <div class="col-sm-4 container">
    <div class="md-well md-well-small well-link row-2">
      <h4 class="text-center">My Lists</h4>
      <% @my_lists.each do |list| %>
          <p><%= link_to list_path(list) do %>
            <%= list.name %>
          <% end %></p>
      <% end %>
      <p class="text-center"><%= link_to "See All", lists_path %></p>
    </div> <!-- well -->
  </div> <!-- container -->

  <div class="col-sm-4 container">
    <div class="md-well md-well-small well-link row-2">
      <h4 class="text-center">Shared Lists</h4>
    </div> <!-- well -->
  </div> <!-- container -->

  <div class="col-sm-4 container">
    <div class="md-well md-well-small well-link row-2">
      <h4 class="text-center">Delegated Tasks</h4>
        <h5 style="margin-left: -15px">Me To Others</h5>
          <% @top_items_delegated_by.each do |item| %>
            <p>☐ <%= item.name %></p>
          <% end %>
          <% if @items_delegated_by.count >= 5 %>
            <%= link_to lists_path do %>See <%= @items_delegated_by.count - 4 %> More...<% end %>
          <% end %>

        <h5 style="margin-left: -15px">Others To Me</h5>
          <% @top_items_delegated_to.each do |item| %>
              <p>☐ <%= item.name %></p>
          <% end %>
          <% if @items_delegated_to.count >= 5 %>
            <%= link_to lists_path do %>See <%= @items_delegated_to.count - 4 %> More...<% end %>
          <% end %>
    </div> <!-- well -->
  </div> <!-- container -->

  <div class="col-xs-12 container">
    <div class="md-well md-well-small well-link">
      <h4 class="text-center">Expired Tasks</h4>
    </div> <!-- well -->
  </div> <!-- container -->

<% else %>

  <div class="md-well md-well-small" id="index-sell">
    <h2>You need more than just a to do list.</h2>
      <h3>Wouldn't you like to...</h3>
      <div class="row">
        <div class="col-lg-6">
          <p>...create categotized to do lists?</p>
          <p>...purge those pesky items you'll never do anyway?</p>
          <p>...share entire lists with coworkers or family?</p>
        </div><!-- text two columns -->
        <div class="col-lg-6">
          <p>...delegate tasks to your spouse or kids?</p>
          <p>...be able to monitor the status of delegated tasks?</p>
        </div> <!-- text two columns -->
      </div> <!-- row -->
    <h2><%= link_to 'Create an account', new_user_registration_path %> and start listing today!</h2>
  </div> <!-- well -->

<% end %>
</div> <!-- container -->
