<div class="container">
  <div class="row" style="height: 70px"></div>
</div>

<h1 class="text-center">Task Delegation</h1>

<div class="container">
  <div class="col-sm-6 container">
    <div class="md-well">
      <h2 class="text-center">Delegated to Me</h2>
      <% @delegated_to_me.each do |item| %>
        <p>
          <%= link_to list_path(item.list) do %>
            <%= item.name %>
          <% end %>
          (Delegated by <%= item.user_id %>)
        </p>
      <% end %>
    </div> <!-- well -->
  </div> <!-- container -->

  <div class="col-sm-6 container">
    <div class="md-well">
      <h2 class="text-center">Tasks I Delegated</h2>
      <% @delegated_by_me.each do |item| %>
          <p><%= link_to list_path(item.list) do %>
            <%= item.name %>
          <% end %>
         (Delegated to <%= item.delegated_to %>)</p>
      <% end %>
    </div> <!-- well -->
  </div> <!-- container -->
</div> <!-- container -->
